.container {
    padding: 20px;
  }
  
  .cartItem {
    display: flex;
    align-items: center;
    border-bottom: 1px solid #eaeaea;
    padding: 10px 0;
  }
  
  .image {
    width: 100px; /* یا هر اندازه دلخواه */
    height: 100px; /* یا هر اندازه دلخواه */
    object-fit: cover;
    margin-right: 20px;
  }
  
  .itemDetails {
    flex: 1;
  }
  
  .title {
    font-size: 1.1rem;
    margin: 0;
  }
  
  .quantity,
  .amount {
    margin: 5px 0;
  }
  
  .checkoutButton {
    background-color: #28a745;
    color: #fff;
    border: none;
    padding: 10px 20px;
    font-size: 1rem;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s ease;
  }
  
  .checkoutButton:hover {
    background-color: #218838;
  }
  