/* AdminPage.module.css */
.adminPage {
    padding: 20px;
}

.adminPage h1 {
    font-weight: 400;
    margin-bottom: 20px;
    border-bottom: 3px solid #a62626;
    width: fit-content;
}

.cardContainer {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.card {
    display: block;
    width: 300px;
    height: 200px;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 8px;
    text-align: center;
    text-decoration: none;
    color: #333;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.card:hover {
    transform: translateY(-5px);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
}

.cardContent {
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.cardContent i {
    font-size: 2.5rem;
    margin-bottom: 15px;
    color: #a62626;
}

.cardContent h2 {
    font-size: 1.2rem;
    color: #0a0909;
}
