.footer {
    color: #fff; 
    padding: 20px;
    border-top: 1px solid gray 
  }
  
  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .footerColumns {
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 1200px;
    margin-bottom: 20px;
  }
  
  .footerAbout, .footerLinks {
    width: 40%;
  }
  
  .footerAbout h3, .footerLinks h3 {
    color: #fff;
    margin-bottom: 10px;
  }
  
  .footerAbout p {
    font-size: 15px;
    color: gray;
  }
  .footerLinks{
    text-align: center;
  }
  
  .footerLinks ul {
    list-style-type: none;
    padding: 0;
    text-align: center;
  }
  
  .footerLinks li {
    margin: 5px 0;
  }
  
  .footerLinks a {
    text-decoration: none;
    color: gray;
  }
  
  .footerLinks a:hover {
    color: #f0f0f0;
  }
  
  .footerBottom {
    margin-top: 20px;
    text-align: center;
    font-size: 16px;
  }
  